.indent {
    padding: 50px 0 25px 0;
}

.indent__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    white-space: pre-wrap;
    margin: 0 0 30px 0;
}

.indent__block {
    display: inline-block;
    vertical-align: top;
}

.indent__img-1 {
    width: 560px;
    height: 415px;
    margin: 0 25px 30px 0;
}

.indent__block-2 {
    max-width: 490px;
}

.indent__p_block-2 {
    margin: 0 0 30px 0;
}

.indent__p_block-2:last-child {
    margin: 0;
}

.indent__block-3 {
    max-width: 480px;
    margin-right: 35px;
}

.indent__p_block-3 {
    margin: 0 0 30px 0;
}

.indent__p_block-3:last-child {
    margin: 0;
}

.indent__img-2 {
    width: 560px;
    height: 279px;
}