.link-2 {
    padding: 25px 0 25px 0;
}

.link-2__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    margin: 0 0 30px 0;
}

.link-2__p {
    margin: 0 0 30px 0;
}

.link-2__p:last-child {
    margin: 0;
}

.link-2__img {
    display: block;
    margin: 0 auto 30px auto;
}

.link-2__img-1 {
    width: 1080px;
    height: 537px;
}

.link-2__img-2 {
    width: 600px;
    height: 450px;
}

.link-2__img-3 {
    width: 1080px;
    height: 506px;
}

.link-2__img-4 {
    width: 964px;
    height: 164px;
}

.link-2__img-5 {
    width: 1022px;
    height: 504px;
}