@import url('fonts.css');

@import url('header.css');

@import url('contents.css');

@import url('link-1.css');

@import url('link-2.css');

@import url('link-3.css');

@import url('footer.css');

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
}

.container {
    width: 1140px;
    padding: 30px 30px 0 30px;
    margin: 30px auto 25px auto;
}

.container__title {
    font-weight: 900;
    font-size: 60px;
    height: 72px;
    margin: 0 0 30px 0;
}

.main {
    padding: 25px 0 25px 0;
}