@import url('fonts.css');

@import url('container.css');

@import url('contents.css');

@import url('indent-adjacent-elements.css');

@import url('indent-last-element.css');

@import url('indent.css');

@import url('footer.css');

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
}